.expense {
    padding: 15px;
    border-radius: 10px;
    color: var(--color);
    border: 1px solid var(--border-color);
    /* background-color: var(--secondary-bg-color); */
    /* height: 60px;
    overflow: hidden;
    transition: height .3s;
    interpolate-size: allow-keywords; */
}

/* .expense:hover {
    height: auto;
} */

.list {
    padding: 0;
}

.listItem {
    list-style: none;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paidBy {
    display: flex;
    align-items: center;
    gap: 5px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttons {
    display: flex;
    gap: 5px;
}

.participants {
    margin-top: 10px;
}

.balance {
    display: flex;
    justify-content: center;
}