* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: #252424;
    --bg-color: #f8f7f7;
    --secondary-bg-color: #f0f0f0;
    --border-color: #c1c1c1;
    --placeholder-color: #0000008a;
}

body.dark {
    --color: #FAFAFA;
    --bg-color: #09090b;
    --secondary-bg-color: #333333;
    --border-color: #b3b3b5;
    --placeholder-color: #b3b3b5;
}