.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    width: min(90%, 120rem);
    margin: 0 auto;
    transition: var(--theme-transition);
}

.logo {
    max-width: 80px;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: clamp(4px, 2vw, 20px);
}

.navItem {
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    padding: 10px clamp(8px, 3vw, 20px);
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: var(--theme-transition);
    color: var(--color);

}

.navItem:hover {
    background-color: var(--primary-color);
    color: white;
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
}