.registerContainer {
  max-width: 400px;
  background-color: var(--secondary-bg-color);
  color: var(--color);
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.registerTitle {
  text-align: center;
  color: #007bff;
  font-weight: bold;
  font-size: 30px;
}

.registerLabel {
  font-weight: bold;
  margin: 15px 0 5px 0;
  color: var(--color);
}

.registerInput {
  width: 100%;
  padding: 14px;
  background-color: var(--secondary-bg-color);
  color: var(--color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.registerInput:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.registerErrorMessage {
  color: red;
  font-size: 14px;
}

.registerSubmitButton {
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.registerSubmitButton:hover {
  background-color: #0056b3;
}

.registerPreviewImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #007bff;
  margin: auto;
  display: flex;
  justify-content: center;
}

.registerInputFile {
  padding: 10px;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
  color: var(--color);
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  width: 100%;
  display: block;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  /* Oculta el texto de selección del archivo en WebKit */
  appearance: none;
  /* Oculta el texto de selección en otros navegadores */
}

.registerInputFile::file-selector-button {
  display: none;
}

.registerInputFile:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.registerSwitch {
    margin-top: 12px;
    font-size: 0.875rem;
    text-align: center;
}
